
@{
    ViewBag.Title = "Index";
}

<style type="text/css">

    img {
        display: block;
        margin: auto;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 60px;
    }
</style>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<h1>RIT ISTE</h1>
<img src="../../images/ritchie.jpg" alt="RITchie" style="width:230px;height:200px;" />

<br />
<h1 style="text-align:center">
    <span style="color:coral">INFORMATION</span> SCIENCES & TECHNOLOGIES AT <span style="color:coral">RIT</span>
</h1>
<br />

