@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Paul Goldman<br />
    RIT<br />
    <abbr title="Phone">P:</abbr>
    585.737.8654
</address>

<address>
    <strong>RIT Email:</strong>   <a href="mailto:plgics@rit.edu">mailto:plgics@rit.edu</a><br />
</address>